# Maven build files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE and Editor files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git/
.gitignore
.gitattributes

# Docker / DevOps
docker-compose*.yml
Dockerfile
.dockerignore

# OS files
Thumbs.db
.DS_Store

# Local application logs and settings
*.log
.settings/
.classpath
.project
